---
title: Contents
icon: align-justify
auto-header: none
order: 2
---

<header>
  {% assign postSize = site.posts.size %}
  <ul>
    {% if postSize <= 4 %}
      {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% else %}
      {% assign start = postSize | minus:4 %}
      <p>{{start}}</p>
      {% for post in site.posts offset:start %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</header>

<footer>

</footer>
