---
layout: default
---
{%- assign category = page.category | default: page.title -%}
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}

<div id="main">
  {%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}

  <ul class="posts-list">
    {%- for cate in site.categories -%}
      {%- if cate[0] == category -%}
        {%- for post in cate[1] -%}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
              </a>
              <small>{{ post.date | date_to_string }}</small>
            </h3>
          </li>
        {-% endfor -%}
      {%- endif- %}
    {%- endfor -%}
  </ul>
</div>
